<!DOCTYPE html>
<html lang="en">

    {{ partial "header.html" . }}

    {{ template "_internal/google_analytics.html" . }}

    <body class="mdc-typography">
        {{ partial "navigation.html" . }}

        <section class="content content-game-list">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <!-- TODO: remove when more games are added -->
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-tablet"></div>
                    {{ range $element := sort $.Data.Pages "Date" "desc"}}
                    <div class="mdc-layout-grid__cell">
                        {{ if isset $element.Params "comingsoon" }}
                        <div class="mdc-card game-card">
                        {{ else }}
                        <a href="{{ $element.URL }}" class="mdc-card game-card mdc-ripple-surface" data-mdc-auto-init="MDCRipple">
                        {{ end }}
                            <div class="mdc-card__media mdc-card__media--square" style="background-image: url({{ $element.Params.icon }});"></div>
                            <div class="game-card__primary">
                                <h2 class="game-card__title mdc-typography--title">
                                    {{ $element.Title }}
                                </h2>
                            </div>
                            <div class="game-card__secondary mdc-typography--body1">
                                {{ $element.Description }}
                            </div>
                            <br>
                        {{ if isset $element.Params "comingsoon" }}
                        </div>
                        {{ else }}
                        </a>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
        </section>

        {{ partial "footer.html" . }}
    </body>
</html>