<div class="flex justify-center">
  <button class="bg-grm-red py-2 px-4 text-lg rounded-sm font-bold hover:bg-grm-red-hover" onclick="window.location.href='{{ url }}';">
    {{ label | upcase }}
  </button>
</div>