<div class="flex flex-col">
  <div class="grid grid-cols-1 md:grid-cols-2 w-full gap-4">
  {%- for project in collection reversed -%}
    {% render "project-card" project: project %}
  {%- endfor -%}
  </div>
</div>