<ul>  
  {% assign pages = collections.recentlyTended | withTag: tag %}
  {% for page in pages limit:count %}
  <li>
    <a href="{{page.url}}">{{ page.data.status | prettyStatusIcon }} {{ page.data.title }}</a>
    ({{ page.data.tended | timeSince }})
  </li>
  {% endfor %}
</ul>