<ul>  
  {% for page in collections.recentlyPlanted limit:count %}
  <li>
    <div class="flex gap-1 m-0">
      <a href="{{page.url}}" >{{ page.data.status | prettyStatusIcon }} {{ page.data.title }}</a>
      <div class="flex">({% render "time-since" date: page.data.planted %})</div>
    </div>
  </li>
  {% endfor %}
</ul>