<ul>  
  {% for article in collections.recentlyTended limit:count %}
  <li>
    <a href="{{article.url}}">{{ article.data.title }}</a>
    ({{ article.data.tended | timeSince }})
  </li>
  {% endfor %}
</ul>