---
layout: root
tags: garden
---
<div class="pt-4 flex space-x-4 justify-center">
  <div class="w-192 flex flex-col px-8">
    
    <h1 class="pb-10 text-grm-white text-5xl leading-10 font-black align-middle uppercase">
      {{ title }}
    </h1>

    <div class="flex text-sm -mt-10 mb-10 flex-col sm:flex-row sm:gap-4">
      <div>{{ status | prettyStatus }}</div>

      <div class="group cursor-pointer hover:underline">
        <i class="flex gap-1">Planted {% render "time-since" date: planted %}</i>

        <div class="text-dark dark:text-white shadow-1 dark:shadow-none absolute bottom-full left-1/2 z-20 mb-3 -translate-x-1/2 whitespace-nowrap rounded-[5px] bg-white dark:bg-dark-2 py-1.5 px-3.5 text-sm opacity-10 group-hover:opacity-100">
          <span class="absolute -bottom-1 left-1/2 -z-10 h-2 w-2 -translate-x-1/2 rotate-45 bg-white dark:bg-dark-2"></span>
          {{ planted | formatDate: "MMMM Do YYYY, h:mm:ss a" }}
        </div>
      </div>

      <div>
        <i class="flex gap-1">Last tended {% render "time-since" date: tended %}</i>
      </div>
    </div>

    <main class="
      pb-8
      
      prose text-grm-white prose-base text-sm prose:max-w-full
      prose-blockquote:m-0
      prose-strong:font-extrabold
      prose-headings:text-grm-white prose-headings:uppercase prose-headings:leading-6 prose-headings:mb-4 prose-headings:mt-8
      prose-h1:text-3xl 
      prose-strong:text-grm-white 
      prose-code:text-gray-400 prose-code:font-mono prose-code:bg-gray-800 prose-code:font-thin prose-code:before:hidden prose-code:after:hidden
      prose-pre:text-base prose-pre:leading-4
      prose-tr:divide-x prose-tr:border-gray-500
      prose-blockquote:text-grm-white prose-blockquote:font-mono
      prose-a:text-grm-red prose-a:font-bold prose-a:no-underline hover:prose-a:bg-gray-800
      marker:text-grm-white
      prose-ul:mt-0 prose-li:my-0
    ">
      {{ content }}
    </main>
    
    <br/>

    <div class="text-sm text-center">
      <i>This is a digital garden, not a blog</i>
      🌻
      <i><a class="text-grm-red font-bold no-underline a:bg-gray-800" href="/garden/">Learn more</a>
      </i>
    </div>
  </div>
</div>

