---
layout: garden
---

{{ content }}

<ul>
{% assign pages = collections[displayCollection] | sort: "data.title" %}
{%- for page in pages -%}
  <li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
{%- endfor -%}
</ul>