<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="/style.css" type="text/css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap">
  <link href="https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@800&display=swap" rel="stylesheet"> 
</head>

<body class="text-custom-white bg-custom-black p-8">

  <div class="flex flex-col items-center overflow-x-hidden">
    <header class="text-center">
      <div class="text-custom-1 text-5xl md:text-6xl font-title leading-10 uppercase">Games Right Meow</div>
      <div class="text-custom-1 text-xs md:text-sm lowercase translate-y-1">Proin elementum leo orci, in interdum augue sollicitudin sed.</div>
    </header>

    <nav class="mt-4 w-192 divide-y divide-gray-500">
      <div></div>
      <div class="flex space-x-4 justify-center">
        {% for item in settings.navigation %}
        <a class="text-custom-link hover:bg-gray-800 text-lg font-semibold lowercase" href="{{ item.url }}">{{ item.name }}</a>
        {% endfor %}
      </div>
      <div></div>
    </nav>
  </div>

  <main>
    {{ content }}
  </main>

</body>

</html>