---
layout: root
---
<div class="pt-4 flex space-x-4 justify-center mx-2">
  <div class="w-160 flex flex-col">
    {% if header %}
    <h1 class="pb-4 text-grm-white text-5xl leading-9 font-black align-middle uppercase">
      {{ header }}.
    </h1>
    {% endif %}

    <main class="
      pb-8
      prose text-grm-white prose-base text-sm
      prose-headings:text-grm-white prose-strong:text-grm-white 
      prose-h1:text-3xl prose-headings:uppercase prose-headings:leading-6
      prose-code:text-gray-400 prose-code:font-mono prose-code:bg-gray-800 prose-code:font-thin prose-code:before:hidden prose-code:after:hidden
      prose-pre:text-base
      prose-tr:divide-x prose-tr:border-gray-500
      prose-blockquote:text-grm-white prose-blockquote:font-mono
      prose-a:text-grm-red prose-a:font-bold prose-a:no-underline hover:prose-a:bg-gray-800
    ">
      {{ content }}
    </main>
  </div>
</div>

