---
layout: article-list
---

<header class="w-full text-custom-white text-4xl leading-9 font-black uppercase">
  {{ tag }}
</header>

<!-- TODO: tag descriptor? -->

<main class="w-full">
  <!-- FIXME: reverse this list so newest is at top -->
  {%- for post in collections[tag] -%}
    {% render "article-list-item" date: post.date, url: post.url, title: post.data.title, subtitle: post.data.subtitle %}
  {%- endfor -%}
</main>
    