<!DOCTYPE html>
<html lang="en">

    {{ partial "header.html" . }}
    
    {{ template "_internal/google_analytics.html" . }}

    <body class="mdc-typography">
        {{ partial "navigation.html" . }}

        <section class="content content-blog-list">
            <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list">
                {{ range $element := sort $.Data.Pages "Date" "desc"}}
                    <li class="mdc-list-item mdc-ripple-surface" data-mdc-auto-init="MDCRipple" onclick="window.open('{{ $element.URL }}', '_self');">
                        <span class="mdc-list-item__graphic" role="presentation">
                            <i class="material-icons" aria-hidden="true">announcement</i>
                        </span>

                        <span class="mdc-list-item__text">
                            {{ $element.Title }}
                            <span class="mdc-list-item__secondary-text">
                                {{ $element.Description }}
                            </span>
                        </span>

                        <span class="mdc-list-item__meta">
                            {{ $element.Date.Format "01/02/2006" }}
                        </span>
                    </li>
                {{ end }}  
            </ul>
        </section>

        {{ partial "footer.html" . }}
    </body>
</html>