<!DOCTYPE html>
<html lang="en">

    {{ partial "header.html" . }}
    
    {{ template "_internal/google_analytics.html" . }}

    <body class="mdc-typography">
        {{ partial "navigation.html" . }}

        <section class="content">
            <div class="mdc-card about-card content-text">
                <div class="mdc-typography--title">About</div>
                <div class="mdc-typography--body1">
                    {{ .Content }}
                </div>
                
                <div class="mdc-typography--body1">
                    <div class="mdc-chip-set">
                        <a class="mdc-chip mdc-ripple-surface" data-mdc-auto-init="MDCRipple" href="/about">
                            <div class="mdc-chip__text">
                                <i class="fas fa-envelope"></i>
                                contact@gamesrightmeow.com
                            </div>
                        </a>
                        <a class="mdc-chip mdc-ripple-surface" data-mdc-auto-init="MDCRipple" href="https://twitter.com/GamesRightMeow">
                            <div class="mdc-chip__text">
                                <i class="fab fa-twitter"></i>
                                @GamesRightMeow
                            </div>
                        </a>
                        <a class="mdc-chip mdc-ripple-surface" data-mdc-auto-init="MDCRipple" href="https://facebook.com/GamesRightMeow">
                            <div class="mdc-chip__text">
                                <i class="fab fa-facebook"></i>
                                GamesRightMeow
                            </div>
                        </a>
                    </div>
                </div>
                
            </div>
            <br>
            <div class="mdc-layout-grid thumbnail-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                        <div class="mdc-card">
                            <div class="mdc-card__media mdc-card__media--square" style="background-image: url(/images/mugshot2.jpg);"></div>
                        </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                        <div class="mdc-card">
                            <div class="mdc-card__media mdc-card__media--square" style="background-image: url(/images/chloe.jpg);"></div>
                        </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                        <div class="mdc-card">
                            <div class="mdc-card__media mdc-card__media--square" style="background-image: url(/images/morgan.jpg);"></div>
                        </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                            <div class="mdc-card">
                                <div class="mdc-card__media mdc-card__media--square" style="background-image: url(/images/mugshot.jpg);"></div>
                            </div>
                        </div>
                </div>
        </section>

        {{ partial "footer.html" . }}
    </body>
</html>