---
layout: root
tags: [ content, game ]
---

{% render "header" title: title, planted: page.planted, tended: page.tended %}

{{ content }}

<h2>Genes</h2>
<ul>
  {% assign genes = genes %}
  {% for id in genes %}
    {% assign gene = id | findPage: collections.gene  %}
    <li><a href="{{ gene.url }}">{{ gene.data.title }}</a></li>
  {% endfor %}
</ul>