<section>
    <div class="logo">
        <a href="/"><img src="/images/logo.svg" /></a>
    </div>
</section>

<section>
    <nav id="sitenav" class="mdc-tab-bar" role="tablist">
        <div class="mdc-tab-scroller" style="width: 512px; margin: 0 auto">
            <div class="mdc-tab-scroller__scroll-area">
                {{ $pageTile := .Title }} 
                {{ range $element := sort $.Site.Sections "Params.navindex" "asc" }}
                    {{ if isset .Params "navindex" }}
                    <div class="mdc-tab-scroller__scroll-content">
                        <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0" onclick="location.href='{{ $element.URL }}';">
                        
                        <span class="mdc-tab__content">
                            <span class="mdc-tab__text-label">{{ $element.Title }}</span>
                        </span>

                        {{ if eq $element.Title $pageTile }}
                        <span class="mdc-tab-indicator mdc-tab-indicator--active">
                            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                        </span>
                        {{ end }}
                        
                        <span class="mdc-tab__ripple"></span>
                        </button>
                    </div>
                    {{ end }}
                {{ end }}

            </div>
        </div>
    </nav>
    <!-- <nav id="sitenav" class="mdc-tab-bar" role="tablist">
        {{ range $element := sort $.Site.Sections "Params.navindex" "asc" }}
            {{ if isset .Params "navindex" }}
            <a id="{{ lower $element.Title }}" class="mdc-tab mdc-ripple-surface" href="{{ $element.URL }}" data-mdc-auto-init="MDCRipple">
                {{ $element.Title }}
                <span class="mdc-tab__indicator"></span>
            </a>
            {{ end }}
        {{ end }}
    </nav> -->
</section>